<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>


<body class="home">

    <!-- header section starts -->
    <%- include('../partials/header') %>
    <!-- header section ends -->

    <!-- home section stars -->
    <main class="home" id="home">
        <section class="main_section">
            <div>
                <h2>new coffee</h2>
                <h2 class="text_important">revolution</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nostrum eveniet sunt</p>
                <a href="">read more</a>
            </div>
        </section>

        <section class="menu-section" id="section">
            <div>
                <figure class="category-coffee">
                    <img src="/images/coffee1.png" alt="">
                </figure>
                <figure class="categroy-coffee">
                    <img src="/images/frappe1.png" alt="">
                </figure>
                <figure class="category-coffee">
                    <img src="/images/frappe1.png" alt="">
                </figure>
                <figure class="category-coffee">
                    <img src="/images/especial1.png" alt="">
                </figure>
            </div>
        </section>
    </main>
    <!-- home section ends -->


    <script src="/js/header.js"></script>
</body>

</html>