.userForm {
    margin: 15rem auto;
    width: 90%;
    max-width: 900px;
}
.userForm .form-container {
    background-color: white;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    max-width: 650px;
    border: solid 1px gray;
    border-radius: 3px;

}
.userForm .form-container h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: .5rem 0;
    color:#997239;
}
.userForm .form-container div {
    width: 90%;
    margin: 1rem auto;
}
.userForm .form-container div label{
    color: #997239;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.userForm .form-container div input {
    width: 100%;
    height: 3.4rem;
    margin-top: .5rem;
    border: solid 1px gray;
    border-radius: 3px;
}
.userForm .form-container div input:focus {
    outline: solid 3px #997239;
    
}
.userForm .form-container div input {
    padding-left: 1.5rem;
}
.userForm .form-container button {
    width: 100px;
    display: block;
    margin: 0 auto;
    color: #997239;
    text-align: center;
    background-color: white;
    padding:1rem 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    border-radius: 3px;
    border:solid 1.5px #997239;
    cursor: pointer;
    transition: background-color .5s ease;
}
.userForm .form-container button:hover {
    background-color: #997239;
    color: white;
}