:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,.3);
    --status-available: greenyellow;
    --status-not-available: lightsalmon;
}