<header class="header-admin">
    <a href="/" class="logo">
        <img src="/images/Group-42.svg" alt="">
    </a>

    <form class="search-form">
        <input type="search" name="search" id="search-box" placeholder="search here...">
        <button type="submit"><label for="search-box" class="fas fa-search"></label></button>
    </form>

    <div class="icons">
        <a href="/"><i class="fas fa-user"><span>Admin</span></i></a>
        <i class="fas fa-bars" id="menu-btn"></i>
    </div>

    <nav class="navbar">
        <a href="/admin">profile</a>
        <a href="/admin">dashboard</a>
        <a href="/admin/products">products</a>
        <a href="/admin/product">new product</a>
        <a href="/admin">new category</a>
        <a href="/admin">customers</a>
    </nav>
</header>