<!DOCTYPE html>
<html lang="es">

    <%- include('../admin/head') %>
<body>
    <!-- header section starts -->
    <%- include('../admin/header') %>
    <!-- header section ends -->
    <main class="panel-admin">
        <h3 class="title">List Products</h3>
        <section class="tablas">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>category</th>
                        <th>subcategory</th>
                        <th>name</th>
                        <th>stock</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href=""><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="ID">1</td>
                            <td data-label="CATEGORY">2</td>
                            <td data-label="SUBCATEGORY">premium</td>
                            <td data-label="NAME">Coffee</td>
                            <td data-label="STOCK">50</td>
                            <td data-label="STATUS">Active</td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                                <a href="/"><i class="fas fa-eye"></i></a>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href=""><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="" method="">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        
                </tbody>
            </table>
        </section>

    </main>
    <script src="/js/headerAdmin.js"></script>
</body>

</html>